header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem 1.5rem;
    width: 100%;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            position: relative;
            z-index: 1110;
            display: flex;
            align-items: center;
            gap: 1rem;
            line-height: 0;

            @media screen and (max-width: 768px) {
                .logo__text{
                    display: none;
                }
            }
        }
        .header-nav{
            display: none;
            align-items: center;
            padding: 0rem 4rem;
            justify-content: space-between;
            flex-grow: 1;

            a{
                font-size: 1rem;
                font-weight: 500;
                color: var(--white);
                transition: opacity 0.15s ease-in-out;

                &:hover{
                    opacity: 0.5;
                }
            }
        }
        .header-buttons{
            display: flex;
            align-items: center;
            gap: 1rem;

            .burger-menu-block{
                display: inline-flex;
                position: relative;
            }
        }
        @media (min-width: 1024px) {
            .header-nav{
                display: flex;
            }
            .header-buttons{
                display: none;
            }
        }
    }
}
