.home-about {
    padding: 4rem 1rem;
    background: var(--gray);

    .container {
        display: flex;
        justify-content: space-between;

        .home-about-img{
            width: calc(50% - 2rem);
            height: 65vh;
            position: relative;
            
            &-container{
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                background-color: red;
                border-radius: 1rem;
                overflow: hidden;

            }
            &-description{
                position: absolute;
                bottom: 0;
                right: 0;
                background: var(--orange);
                padding: 2rem 2rem 0 2rem;
                border-radius: 1rem;
                font-size: 3rem;
                font-weight: 700;

                span{
                    position: relative;
                    top: -2rem;
                    font-size: 1rem;
                    font-weight: 500;
                    opacity: 0.8;
                    text-transform: uppercase;
                }
            }
        }
        .home-about-info{
            width: calc(50% - 2rem);

            h2{
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: .1em;
                opacity: 0.5;
                margin-bottom: 1rem;
            }
            &-description{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 2rem;
            }
            p{
                line-height: 1.5rem;
            }
            &-numbers{
                margin-top: 2rem;
                border-top: 1px solid var(--white);
                padding-top: 2rem;
                display: flex;
                justify-content: space-between;

                &-item{

                    font-size: 3rem;
                    font-weight: 600;
                    line-height: 2rem;

                    span{
                        font-size: 1rem;
                        opacity: 0.5;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}