@use '../../works/style.scss' as *;

.home-works{
    padding: 4rem 1rem;
    background: var(--color-5);

    .container{
        h2{
            font-size: clamp(2rem, 4vw, 3rem);
            font-weight: 600;
            margin-bottom: 3.5rem;
            color: var(--color-1);
        }
        .home-works-gallery-button{
            margin: 5rem auto 0;
            background: var(--color-4);
            color: var(--color-5);
            border: none;
            cursor: pointer;
            display: block;
            transition: 0.35s ease-in-out;
        }
    }

    @media screen and (max-width: 768px) {
        .container h2 {
            text-align: center;
        }
    }
}